/*---------- My Google Fonts ----------*/

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


/*---------- My Changes to the Bootstrap CSS ----------*/

$gray-900: #605D5D;

// scss-docs-start theme-color-variables
$info: #D9D0BF;
$dark: #303531;
$info2: #A67F68;
$success:green;
$custom-grey: #605D5D;
$custom-light-grey: #e6e5e5;
$warning: #E4970B;
// scss-docs-end theme-color-variables

// scss-docs-start theme-colors-map
$theme-colors: (
  "info":       $info,
  "warning":    $warning,
  "success":     $success,
  "dark":       $dark,
  "info2":      $info2,
  "custom-grey": $custom-grey,  
  "custom-light-grey": $custom-light-grey,
);
// scss-docs-end theme-colors-map


/*---------- My Imports ----------*/

@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

@import "../../node_modules/bootstrap/scss/bootstrap";


/*---------- My custom CSS ----------*/

.h1-logo{
  font-family: Pacifico, Arial, Helvetica, sans-serif;
}

.profile-pic, .card-img-top {
  width: 60%;
}

.profile-picture{
  width: 80%;
}

.icon{
  max-width: 50px;
  max-height: 50px;
}